/*body, p, ul, h2 {
	margin: 0;
	padding: 0;
}*/
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	background-color: #849d8f;
}
h1 {
	font-size: 60px;
	line-height: 60.35px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
}
h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: 700;
	padding-bottom: 28px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27.6px;
	box-sizing: border-box;
}
.main-header {
	display: flex;
	justify-content: flex-start;
}
.logo {
	margin-top: 9px;
}
.main-menu {
	margin-top: 26px;
	width: 710px;
	float: left;
}
.main-menu ul {
	margin: 0;
	padding: 0;
}
.main-menu li {
	display: inline-block;
	margin-left: 26px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.user {
	font-size: 14px;
	line-height: 16px;
	margin-top: 31px;
	margin-left: 26px;
}
.user a {
	margin-left: 10px;
	}
.user a:first-child {
	margin-left: 0;
}
.search {
	position: relative;
	background-color: rgba(255,255,255,0.3);
	border-radius: 50%;
	font-size: 0;
	padding: 16px;
	top: -5px;
}
.search::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 21px;
	height: 20px;
	background: url(../img/Sprite_User.png) no-repeat;
	background-position: -50px -15px;

}
.enter {
	position: relative;
	padding: 7px 14px 7px 43px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 20px;
}
.enter::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 15px;
	width: 21px;
	height: 20px;
	background: url(../img/Sprite_User.png) no-repeat;
	background-position: -14px -15px;
}
.basket {
	position: relative;
	padding: 7px 35px 7px 40px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 20px;
}
.basket::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background: url(../img/Sprite_User.png) no-repeat;
	background-position: -97px -15px;
}
.contacts {
	text-align: right;
}
.contacts p {
	margin: 0;

	margin-top: -6px;
	font-size: 14px;
	line-height: 16px;
}
.phone {
	font-size: 22px;
	line-height: 24px;
	display: block;
	margin-top: 4px;
}
.wrapper::before,
.wrapper::after {
	content: "";
	visibility: hidden;
}
.wrapper::before,
.wrapper::after {
	background-image: url(../img/IceCream_2.png);
}
.wrapper::after {
	background-image: url(../img/IceCream_3.png);
}
.wrapper {
	background: #849d8f url(../img/IceCream_1.png) no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease,
				background-color 0.5s ease;
}
.slider {
	position: relative;
}
.slider h1 {
	margin: 0;

	padding-top: 270px;
	margin-bottom: 30px;
}
.slider a {
	display: block;
	width: 280px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
	text-shadow: 2px 2px 5px rgba(160,32,11,0.76);
}
.slide {
	display: none;
}
body > input[type="radio"] {
	display: none;
}
#switch_1:checked ~ .wrapper #slide_1,
#switch_2:checked ~ .wrapper #slide_2,
#switch_3:checked ~ .wrapper #slide_3 {
	display: block;
}
#switch_1:checked ~ .wrapper label[for="switch_1"],
#switch_2:checked ~ .wrapper label[for="switch_2"],
#switch_3:checked ~ .wrapper label[for="switch_3"] {
	background: #ffffff;
}
#switch_1:checked ~ .wrapper {
	background-color: #849d8f;
	background-image: url(../img/IceCream_1.png);
}
#switch_2:checked ~ .wrapper {
	background-color: #8996a6;
	background-image: url(../img/IceCream_2.png);
}
#switch_3:checked ~ .wrapper {
	background-color: #9d8b84;
	background-image: url(../img/IceCream_3.png);
}
.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
}
.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.breadcrumbs li {
	display: inline-block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.breadcrumbs li:last-child {
	border-bottom: none;
}
.filters {
	margin-bottom: 40px;
}
.btn {
	padding: 10px 17px;
	background: linear-gradient(to top, #e74a35, #f26843);
	border-radius: 90px;
	box-shadow: 2px 2px 2px rgba(172,16,0,0.64);
	color: #ffffff;
	font-weight: 700;
}
.slider .btn {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
}
.stock {
	display: flex;
	justify-content: space-between;
}
.stock h2, .stock p {
	margin: 0;
}
.stock-item {
	width: 560px;
	margin-bottom: 40px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
}
.stock-item p {
	padding-bottom: 50px;
}
.raspberry {
	background-color: #980119;
	background: url(../img/Raspberry.jpg) no-repeat;
}
.chocolate {
	background-color: #6a422f;
	background: url(../img/Chocolate.jpg) no-repeat;
}
.stock-item a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.stock-item .btn {
	float: right;
}
.filters {
	display: flex;
	flex-wrap: wrap;
}
.catalog-caption {
	text-align: left;
	font-size: 35px;
	line-height: 41px;
}
.catalog {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 35px;
}
.catalog-item {
	width: 267px;
	padding: 5px 9px 20px 9px;
}
.catalog-item img {
	border-radius: 50%;
}
.catalog-item p {
	margin-bottom: 0;
}
.catalog-item:hover {
	background-color: rgba(255,255,255,0.3);
	border-radius: 5px;
}
.hit {
	position: absolute;
}
.price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #ffffff;
	margin-top: -65px;
}
.price img {
	border-radius: 0;
	position: relative;
	top: 3px;
}
.name {
	text-align: center;
	padding: 0 10px;
	margin-top: 25px;
}
.name a {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #ede0c3;
	border-radius: 15px;
	padding: 30px 20px;
	margin-bottom: 40px;
	background: url(../img/Wafer_pattern.png) repeat;
}
.info h3 {
	margin: 0;
	padding: 0;
}
.info p {
	margin: 0;

	color: #323232;
	width: 478px;
	padding-top: 15px;
	padding-left: 56px;
}
.icon-icecream {
	position: relative;
}
.icon-icecream::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/Wafer_IceCream.png) no-repeat;
	background-position: 0px 0px;
}
.icon-sheet {
	position: relative;
}
.icon-sheet::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/Wafer_Sheet.png) no-repeat;
	background-position: 0px 0px;
}
.icon-cow {
	position: relative;
}
.icon-cow::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/Wafer_Cow.png) no-repeat;
	background-position: 0px 0px;
}
.icon-thermometer {
	position: relative;
}
.icon-thermometer::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 49px;
	height: 49px;
	background: url(../img/Wafer_Thermometer.png) no-repeat;
	background-position: 0px 0px;
}
.other {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.news {
	width: 560px;
	height: 220px;
	background-color: #ffffff;
	border-radius: 15px;
	color: #323232;
	line-height: 30px;
	padding-top: 26px;
	padding-left: 20px;
	box-sizing: border-box;
	background: url(../img/Strawberry.jpg) no-repeat 20% 40%;
}
.news p {
	margin: 0;
}
.news h3 {
	margin: 0;
}
.news a {
	text-decoration: underline;
}
.delivery {
	width: 560px;
	height: 220px;
	background-color: #f8f7f4;
	border-radius: 15px;
	color: #5a5a5a;
	background: url(../img/Delivery_pattern.png) repeat #ffffff;
	position: relative;
}
.delivery-background {
	width: 550px;
	height: 210px;
	background-color: #f8f7f4;
	border-radius: 15px;
	position: absolute;
	top: 5px;
	left:5px;
	padding: 32px 22px;
	box-sizing: border-box;
}
.delivery p {
	margin: 0;

	padding-bottom: 38px;
}
.delivery input {
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #d3d3d2;
	width: 360px;
}
.delivery button {
	border-style: none;
	cursor: pointer;
}
.map {
	width: 1200px;
	height: 430px;
	margin: 0 auto;
	background: url(../img/Map.jpg) no-repeat 50% 50%;
	position: relative;
}
.map::after {
	content: "";
	position: absolute;
	width: 218px;
	height: 142px;
	top: 138px;
	left: 266px;
	background: url(../img/Map_IceCream.png) no-repeat;

}
.address {
	background-color: #ffffff;
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	width: 302px;
	border-radius: 15px;
	padding: 34px 27px;
	box-sizing: border-box;
	position: relative;
	float: right;
	top: 62px;
	margin-right: 27.6px;
	display: flex;
	flex-direction: column;
}
.address p {
	margin: 0;
}
.address p:nth-child(2) {
	margin-bottom: 30px;
}
.address .btn {
	font-size: 18px;
	line-height: 24px;
	margin-top: 30px;
}
.bold {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
}
.pagination {
	display: flex;
	justify-content: flex-end;
}
.pagination li {
	display: inline-block;
 	padding: 0 10px;
}
.main-footer {
	display: flex;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
.social {
	padding-top: 36px;
	padding-bottom: 29px;
}
.social a {
	padding-right: 11px;
}
.social img {
	border: 2px solid #c2cec7;
	border-radius: 50%;
}
.footer-navigation {
	margin: 36px 204px 29px 180px;
}
.footer-navigation ul {
	margin: 0;
	padding: 0;

	list-style: none;
  	column-count: 2;
}
.footer-navigation a {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.heart {
	font-weight: 700;
	list-style: none;
    background: url("../img/Heart.png") no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
}
.footer-navigation li:nth-child(2) {
	padding-left: 20px;
}
.design {
	padding-top: 19px;
	padding-bottom: 25px;
}
.design p {
	margin: 0;
}
.design a {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}