body, p, ul, h2 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
/*-----------------------------------*/
body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	font-family: Roboto, sans-serif;
	background-color: #849d8f;
}
h1 {
	font-size: 60px;
	line-height: 60.35px;
	color: #ffffff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	text-align: center;
}
h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	padding-bottom: 28px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: medium;
	font-family: Roboto, sans-serif;
	margin: 0;
}
.container {
	outline: 1px solid red;
	width: 1200px;
	margin: 0 auto;
	padding: 0 27.6px;
	box-sizing: border-box;
}
/*
.row::after {
	content: "";
	display: table;
	clear: both;

	margin-right: 0;
}
.col-4 {
	width: 1144.8px;
}
.col-2 {
	width: 559.2px;
	margin-right: 26.4px;
}
.col-1 {
	width: 266.4px;
	margin-right: 26.4px;
}
*/
.main-header {
	display: flex;
}
.logo {
	margin-top: 9px;
}
.main-menu {
	margin-top: 26px;
}
.main-menu li {
	display: inline-block;
	margin-left: 26px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.user {
	margin-left: 420px;
	margin-top: 26px;
}
.user a {
	padding: 0 10px;
}
.contacts {
	text-align: right;
}
.breadcrumbs li {
	display: inline-block;
}
.slider a {
	display: block;
	width: 284px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}
.stock {
	display: flex;
	justify-content: space-between;
}
.stock-item {
	width: 560px;
	margin-bottom: 40px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
}
.stock-item p {
	padding-bottom: 50px;
}
.stock-item:first-child {
	background-color: #980119;
}
.stock-item:last-child {
	background-color: #6a422f;
}
.catalog {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.catalog-item {
	width: 267px;
}
.catalog-item img {
	border-radius: 50%;
}
.catalog-item p img {
	border-radius: 0;
	position: relative;
	top: 3px;
}
.price {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
	margin-top: -65px;
}
.name {
	text-decoration: underline;
	text-align: center;
	padding: 0 10px;
	margin-top: 25px;
}
.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #ede0c3;
	border-radius: 15px;
	padding: 30px 20px;
	margin-bottom: 40px;
}
.info p {
	color: #323232;
	width: 475px;
	padding-top: 15px;
}
.icon-icecream {
	
}
.icon-sheet {
	
}
.icon-cow {
	
}
.icon-thermometer {
	
}
.other {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.news {
	width: 560px;
	height: 220px;
	background-color: #ffffff;
	border-radius: 15px;
	color: #323232;
	padding-top: 26px;
	padding-left: 20px;
	box-sizing: border-box;
}
.news a {
	text-decoration: underline;
}
.delivery {
	width: 560px;
	height: 220px;
	background-color: #f8f7f4;
	border-radius: 15px;
	color: #5a5a5a;
	padding: 40px 28px;
	box-sizing: border-box;
}
.delivery p {
	padding-bottom: 38px;
}
.address {
	background-color: #ffffff;
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	width: 302px;
	border-radius: 15px;
	padding: 34px 27px;
	box-sizing: border-box;
}
.main-footer {
	display: flex;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
.social {
	padding-top: 36px;
	padding-bottom: 29px;
}
.social a {
	padding-right: 11px;
}
.footer-navigation {
	padding-top: 36px;
	padding-bottom: 29px;
	margin-left: 200px;/*----------------- пересчитать ------------------*/
	margin-right: 200px;/*----------------- пересчитать ------------------*/
}
.footer-navigation ul {
	list-style: none;
  	column-count: 2;
}
.design {
	padding-top: 19px;
	padding-bottom: 25px;
}
/*----------------- catalog ------------------*/
.catalog-caption {
	text-align: left;
	font-size: 35px;
	line-height: 41px;
}
.pagination {
	float: right;
}
.pagination li {
	display: inline-block;
}